<h2>Topic</h2>
<p style="font-size:small;color:gray">Đăng bởi: Administrator | Vào ngày: 04-08-2019</p>
<p>
    Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
</p>
<div *ngFor="let topic of topics">
    <h2>{{ topic }}</h2>
    <div style="background-color:#f5f5f5;padding: 15px;max-height:400px;" class="subtopicBox">
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
    </div>
</div>