<div  style="width: 70%;margin:0 auto;display: flex;flex-direction: row;">    
    <div class="topic-content" style="
    width: 75%;margin-right:20px;">
        <!-- <h2>{{ data.name }}</h2> -->
        <p style="font-size:small;color:gray">Đăng bởi: Administrator | Vào ngày: 04-08-2019</p>
        <p>
            <!-- {{ data.description }} -->
        </p>
        <div *ngFor="let topic of topics[0]">
            <h2>{{ topic.name }}</h2>
            <div style="background-color:#f5f5f5;padding: 15px;max-height:400px;" class="subtopicBox">
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
                <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
            </div>
        </div>
    </div>    
    <app-side-bar style="
        width: 25%;        
    "></app-side-bar>
</div>
