<div style="background-color: white;margin-bottom: 35px;">
    <!-- <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">        
    </div> -->
    <h2>Học lập trình online miễn phí</h2>
    <p>Freetuts là trang web học lập trình online miễn phí với các chủ đề: lập trình / 
        các môn học / công nghệ / review sản phẩm tốt nhất đến với độc giả.</p>
    <p style="border: 3px dotted green;padding: 20px 20px;">Tham gia nhóm hỗ trợ cài đặt website WordPress miễn phí <a href="">tại đây</a>.</p>
</div>
<div class="reccomend" style="border: solid 1px grey;min-height: 450px;" *ngFor="let rec of recData">
    <p style="background-color: #2f6e91;
        padding:10px;
        margin-bottom: 0;
        color: white;"
        ><strong>{{ rec.name | uppercase }}</strong></p>
    <div class="container" >
        <div class="main-item">
            <div >
                <img  src="{{'assets/bash-logo.jpg'}}" style="max-width: 100%;" alt=""><br>
                <p style="margin: 10px 0;padding:0 10px;">
                    <strong>{{ rec.child[0].name }}</strong> 
                </p>
                            
                <p>
                    {{ rec.child[0].description }}
                </p>
            </div>            
        </div>
        <div class="items">
            <div *ngFor="let child of rec.child | slice:1:5; let i=index">
                <div class="item">
                    <img src="{{'assets/bash-logo.jpg'}}" style="max-width: 100px;display: inline-block;" alt="">
                    <span>{{ child.name }}</span>
                </div>            
            </div>
        </div>        
    </div>
</div>