<div style="background-color: white;">
    <h2>Học lập trình online miễn phí</h2>
    <p>Freetuts là trang web học lập trình online miễn phí với các chủ đề: lập trình / các môn học / công nghệ / review sản phẩm tốt nhất đến với độc giả.</p>
    <p>Tham gia nhóm hỗ trợ cài đặt website WordPress miễn phí <a href="">tại đây</a>.</p>
</div>
<div style="border: solid 1px grey;">
    <p style="background-color: cadetblue;padding: 10px;">LẬP TRÌNH</p>
    <div class="container">
        <div class="item-a">
            <div >
                <img  src="{{'assets/bash-logo.jpg'}}" style="max-width: 100%;" alt=""><br>
                <p>
                    <strong>Giải thích cú pháp Regular Expression trong Linux</strong> 
                </p>
                            
                <p>
                    Trước tiên bạn cần tìm hiểu một chút về khái niệm Regular Expression trong Linux là gì đã nhé ...
                </p>
            </div>
            
        </div>
        <div class="item-1" >
            <img src="{{'assets/bash-logo.jpg'}}" style="max-width: 100px;display: inline-block;" alt="">
            <p>Trước tiên bạn cần tìm hiểu một chút về khái niệm Regular Expression trong Linux là gì đã nhé ...</p>
        </div>
        <div class="item-2">
            <img src="{{'assets/bash-logo.jpg'}}" style="max-width: 100px;" alt="">
            <p>Cách sử dụng lệnh ls trong Linux</p>
        </div>
        <div class="item-3">
            <img src="{{'assets/bash-logo.jpg'}}" style="max-width: 100px;" alt="">
            <p>Cách sử dụng lệnh ls trong Linux</p>
        </div>
        <div class="item-4">
            <img src="{{'assets/bash-logo.jpg'}}" style="max-width: 100px;" alt="">
            <p>Cách sử dụng lệnh ls trong Linux</p>
        </div>
    </div>
</div>