<div style="background-color: white;">
    <h2>Học lập trình online miễn phí</h2>
    <p>Freetuts là trang web học lập trình online miễn phí với các chủ đề: lập trình / các môn học / công nghệ / review sản phẩm tốt nhất đến với độc giả.</p>
    <p>Tham gia nhóm hỗ trợ cài đặt website WordPress miễn phí <a href="">tại đây</a>.</p>
</div>
<div class="reccomend" style="border: solid 1px grey;" *ngFor="let rec of recData">
    <p style="background-color: cadetblue;padding: 10px;">{{ rec.name }}</p>
    <div class="container" >
        <div class="main-item">
            <div >
                <img  src="{{'assets/bash-logo.jpg'}}" style="max-width: 100%;" alt=""><br>
                <p>
                    <strong>{{ rec.child[0].name }}</strong> 
                </p>
                            
                <p>
                    Trước tiên bạn cần tìm hiểu một chút về khái niệm Regular Expression trong Linux là gì đã nhé ...
                </p>
            </div>            
        </div>
        <div class="items">
            <div *ngFor="let child of rec.child | slice:1:5; let i=index">
                <div class="item">
                    <img src="{{'assets/bash-logo.jpg'}}" style="max-width: 100px;display: inline-block;" alt="">
                    <span>{{ child.name }}</span>
                </div>            
            </div>
        </div>        
    </div>
</div>