img{
    max-width:60px ;
    height: auto;   
}
div.title{
    padding:10px;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    border-bottom: 1px grey solid;
    display: flex;
    flex-direction: row;
}
div.title p{
    margin: auto auto auto 10px;
    padding: 10px 0;
}
div.title a{
    text-decoration: none;
    color: black;
    margin: auto;
}
div.title a:hover{
    color: orange;
}