<div>
    <p style="background-color: teal;padding:10px">REVIEW KHÓA HỌC</p>
    <div class="title" style="border-top: 1px grey solid;">
        <img src="{{'assets/bash-logo.jpg'}}" alt="">
        <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
    </div>
    <div class="title">
        <img src="{{'assets/bash-logo.jpg'}}" alt="">
        <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
    </div>
    <div class="title">
        <img src="{{'assets/bash-logo.jpg'}}" alt="">
        <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
    </div>
    <div class="title">
        <img src="{{'assets/bash-logo.jpg'}}" alt="">
        <span>Lộ trình học Photoshop cho người mới bắt đầu - Có video học miễn phí</span>
    </div>
</div>