<div style="background-color:#4a525d;margin-top:50px;padding:15px 0;color: white;">
    <div class="container" style="width: 80%;">
        <table style="width:100%;margin: auto;">
            <tr>
            <th>Liên hệ</th>
            <th>Khóa học</th>
            <th>Giới thiệu</th>
            </tr>
            <tr>
            <td>Giới thiệu</td>
            <td>Javascript</td>
            <td>Admin Cường, quản lý chính của website.</td>
            </tr>
            <tr>
            <td>Chính sách</td>
            <td>Front-end</td>
            <td>Email: thehalfheart@gmail.com</td>
            </tr>
        </table>
    </div>
</div>
