<h2>Python căn bản</h2>
<p style="font-size:small;color:gray">Đăng bởi: Administrator | Vào ngày: 04-08-2019</p>
<p>
<p>
    Trong phần này bạn sẽ được học kiến thức liên quan đến Python căn bản nằm trong chuyên mục Python, nếu có vấn đề thắc mắc thì hãy liên hệ admin để được hướng dẫn.

Các bài viết được cập nhật liên tục, vì vậy hãy bookmark lại trên trình duyệt web để sau này khỏi mất công tìm kiếm nhé.
</p>
<div>
    <table>
        <thead>
            <th>
                Introduction
            </th>
        </thead>
        <tbody>
            <tr>
                <a href="">Hướng dẫn download và cài đặt python trên Window (Win 7 / Win 10)</a>
            </tr>
            <tr>
                <a href="">Hướng dẫn download và cài đặt python trên Window (Win 7 / Win 10)</a>
            </tr>
            <tr>
                <a href="">Hướng dẫn download và cài đặt python trên Window (Win 7 / Win 10)</a>
            </tr>
            <tr>
                <a href="">Hướng dẫn download và cài đặt python trên Window (Win 7 / Win 10)</a>
            </tr>
            <tr>
                <a href="">Hướng dẫn download và cài đặt python trên Window (Win 7 / Win 10)</a>
            </tr>
            <tr>
                <a href="">Hướng dẫn download và cài đặt python trên Window (Win 7 / Win 10)</a>
            </tr>
        </tbody>
    </table> 
</div>
<div>
    <h2></h2>
    <div style="background-color:#f5f5f5;padding: 15px;max-height:400px;" class="subtopicBox">        
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
        <p><img src="{{'assets/bash-logo.jpg'}}" alt="">Python nâng cao</p>
    </div>
</div>
<editor
   [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"
 ></editor>